/* 公用的样式 */
html,body{
    height: 100%;

}
body{
    display: flex;
}
.layout-side{
    flex-shrink: 0;
    width:256px;
    height: 100%;
    background:grey;
    flex-shrink: inherit;
}
.layout-main{
    display: flex;
    flex-direction: column;
    flex:1;
    background: #cccccc;
    
}
.layout-header{
    height: 50px;
    background:green;
}
.layout-body{
    flex:1;
    overflow-y: auto;
}
.layout-side a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    border-bottom: solid 1px #000000;
    color: #ffffff;
    padding-left:40px;
}


.lv-table{
    border:solid 1px #000000;
    width: 100%;

}
.lv-table th, .lv-table td{
    border:solid 1px #000000;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    
}
.banner-img{
    display: block;
    height: 50px;
    margin: 0 auto;
}